.search-bar-container {
    display: flex;
    justify-content: center;
  }
  
  form {
    display: flex;
    padding: 20px;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    width: 600px;
    text-align: center;
  }
  
  .search-button {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    align-items: center;
    background-color: #707070;
    color: white;
  }
  
  .search-button:hover {
    background-color: #aaaaaa;
  }

  .material-icons {
    margin-right: 2px;
  }
  