body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Style for the navbar */
nav {
  display: flex;
  justify-content: space-between; /* Distribute space between logo and links */
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixed position */
  top: 10px; /* Distance from the top */
  width: calc(100% - 20px); /* Full width minus 20px to account for the left and right margins */
  z-index: 1000; /* Ensure navbar is on top */
  padding: 0 10px;
}

/* Ensure there's enough space at the top for the fixed navbar */
.router-outlet + * {
  margin-top: 70px; /* Adjust based on navbar height plus the 10px gap */
}

/* Style for the logo and website name */
nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 50px; /* Adjust the height as needed */
  margin-right: 10px; /* Add space between logo and text */
}

nav .logo span {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

/* Style for the navbar links */
nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

/* Remove hover effect for the logo link */
nav a.logo:hover {
  background-color: transparent;
  color: black;
}

/* Style for icons within links */
nav a .material-icons {
  margin-right: 8px;
}

/* Style for the active navbar link */
nav a.active-link {
  background-color: #707070;
  color: white;
}

/* Style for the hovered navbar link */
nav a:hover {
  background-color: #aaaaaa;
  color: white;
}
