<nav>
  <a routerLink="/homepage" class="logo">
    <img src="../assets/Logo.png" alt="Website Logo">
    <span>JourneyGenie</span>
  </a>
  <a routerLink="/homepage" routerLinkActive="active-link">
    <span class="material-icons">home</span>
    Home
  </a>
  <a routerLink="/create-itinerary" routerLinkActive="active-link">
    <span class="material-icons">create</span>
    Create Itinerary
  </a>
  <a routerLink="/search-itineraries" routerLinkActive="active-link">
    <span class="material-icons">search</span>
    Search Itineraries
  </a>
  <a routerLink="/recommendations" routerLinkActive="active-link">
    <span class="material-icons">star</span>
    Recommendations
  </a>
  <a routerLink="/user-profile" routerLinkActive="active-link">
    <span class="material-icons">person</span>
    User Profile
  </a>
</nav>
<router-outlet></router-outlet>
